.coming-soon-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.coming-soon-hero {
  width: 100%;
  height: 1000px;
  display: flex;
  box-shadow: 5px 50px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  background-size: cover;
  background-image: url("https://play.teleporthq.io/static/svg/placeholders/no-image.svg");
}
.coming-soon-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.coming-soon-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.coming-soon-logo {
  width: 64px;
}
.coming-soon-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.coming-soon-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.coming-soon-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.coming-soon-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.coming-soon-centered {
  width: 100%;
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.coming-soon-left {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.coming-soon-navlink {
  display: contents;
}
.coming-soon-logo1 {
  width: var(--dl-size-size-small);
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.coming-soon-links1 {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.coming-soon-navlink1 {
  font-style: normal;
  font-family: Arial;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.coming-soon-link {
  font-style: normal;
  font-family: Arial;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.coming-soon-navlink2 {
  font-style: normal;
  font-family: Arial;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.coming-soon-navlink3 {
  font-style: normal;
  font-family: Arial;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.coming-soon-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.coming-soon-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.coming-soon-text05 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.coming-soon-dropdown-arrow {
  transition: 0.3s;
}
.coming-soon-icon2 {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.coming-soon-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.coming-soon-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.coming-soon-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.coming-soon-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.coming-soon-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.coming-soon-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.coming-soon-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.coming-soon-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.coming-soon-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.coming-soon-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.coming-soon-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.coming-soon-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.coming-soon-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.coming-soon-get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #000000;
}
.coming-soon-get-started:hover {
  background-color: #5228F5;
}
.coming-soon-text08 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.coming-soon-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.coming-soon-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.coming-soon-header {
  display: flex;
  margin-top: 140px;
  align-items: center;
  flex-direction: column;
}
.coming-soon-text09 {
  color: #ffffff;
  font-size: 72px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.coming-soon-text12 {
  color: rgb(238, 233, 254);
  font-size: 20px;
  max-width: 600px;
  margin-top: 16px;
  text-align: center;
  line-height: 30px;
}
@media(max-width: 991px) {
  .coming-soon-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .coming-soon-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .coming-soon-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .coming-soon-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .coming-soon-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .coming-soon-logo1 {
    width: 64px;
  }
  .coming-soon-links1 {
    display: none;
  }
  .coming-soon-get-started {
    display: none;
  }
  .coming-soon-mobile-menu-button {
    display: flex;
  }
  .coming-soon-header {
    width: 100%;
    max-width: 1200px;
  }
}
@media(max-width: 767px) {
  .coming-soon-hero {
    height: 620px;
    position: relative;
    padding-bottom: 180px;
    background-color: var(--dl-color-template-blue-bg);
  }
  .coming-soon-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .coming-soon-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .coming-soon-left {
    margin-left: var(--dl-space-space-unit);
  }
  .coming-soon-right {
    margin-right: var(--dl-space-space-unit);
  }
  .coming-soon-get-started {
    display: none;
  }
  .coming-soon-header {
    height: 100%;
    margin-top: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .coming-soon-text09 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .coming-soon-text12 {
    color: rgb(238, 233, 254);
    font-size: 16px;
    margin-top: var(--dl-space-space-unit);
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .coming-soon-hero {
    padding-bottom: 160px;
  }
  .coming-soon-logo {
    margin-left: 0px;
  }
  .coming-soon-icon {
    align-items: center;
    justify-content: center;
  }
  .coming-soon-text12 {
    color: #EEE9FE;
  }
}
