 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 783px;
}

.u-section-1 .u-gallery-1 {
  height: 640px;
  margin-top: 19px;
  margin-bottom: 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 687px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  text-decoration: underline !important;
  margin: 31px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 315px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 35px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 58px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 315px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 35px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 58px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 315px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 35px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 58px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 315px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 35px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 58px auto 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 8px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 8px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 4px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-2 .u-image-1 {
    height: 253px;
  }

  .u-section-2 .u-image-2 {
    height: 253px;
  }

  .u-section-2 .u-image-3 {
    height: 253px;
  }

  .u-section-2 .u-image-4 {
    height: 253px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 85px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 407px;
  }

  .u-section-2 .u-image-2 {
    height: 407px;
  }

  .u-section-2 .u-image-3 {
    height: 407px;
  }

  .u-section-2 .u-image-4 {
    height: 407px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 48px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 321px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 321px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 321px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 321px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 12px;
  }

  .u-section-2 .u-image-1 {
    height: 198px;
  }

  .u-section-2 .u-image-2 {
    height: 198px;
  }

  .u-section-2 .u-image-3 {
    height: 198px;
  }

  .u-section-2 .u-image-4 {
    height: 198px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 638px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 486px;
  width: 854px;
  margin: 20px auto 40px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: 53px;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
    margin-bottom: 53px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 907px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 38px 602px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 0 602px 0 0;
}

.u-section-4 .u-shape-1 {
  width: 1070px;
  --radius: 10px;
  height: 431px;
  margin: 13px auto 0;
}

.u-section-4 .u-slider-1 {
  min-height: 391px;
  height: auto;
  width: 952px;
  margin: -393px auto 60px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  left: auto;
  right: 276px;
  bottom: 27px;
}

.u-section-4 .u-carousel-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 437px;
  height: 385px;
  margin: 5px auto 0 -41px;
}

.u-section-4 .u-shape-2 {
  width: 611px;
  --radius: 10px;
  height: 242px;
  margin: -323px 21px 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -206px 41px 0 331px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 13px 0 331px;
}

.u-section-4 .u-carousel-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-group-1 {
  width: 575px;
  --radius: 10px;
  height: auto;
  min-height: 242px;
  margin: 77px 13px 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 26px 22px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 68px 0 17px;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 0 17px;
}

.u-section-4 .u-image-2 {
  width: 437px;
  height: 385px;
  margin: -313px auto 0 -6px;
}

.u-section-4 .u-carousel-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-group-2 {
  width: 575px;
  --radius: 10px;
  height: auto;
  min-height: 242px;
  margin: 77px 13px 0 auto;
}

.u-section-4 .u-container-layout-5 {
  padding: 5px 22px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 21px 17px 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 0 -25px 17px;
}

.u-section-4 .u-image-3 {
  width: 437px;
  height: 385px;
  margin: -313px auto 0 -6px;
}

.u-section-4 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-shape-3 {
  width: 575px;
  --radius: 10px;
  height: 242px;
  margin: 77px 20px 0 auto;
}

.u-section-4 .u-image-4 {
  width: 437px;
  height: 385px;
  margin: -313px auto 0 -34px;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -287px 41px 0 403px;
}

.u-section-4 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 35px 0 403px;
}

.u-section-4 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 0;
}

.u-section-4 .u-shape-4 {
  width: 575px;
  --radius: 10px;
  height: 242px;
  margin: 77px 20px 0 auto;
}

.u-section-4 .u-image-5 {
  width: 437px;
  height: 385px;
  margin: -313px auto 0 -34px;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -287px 41px 0 403px;
}

.u-section-4 .u-text-12 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 35px 0 403px;
}

.u-section-4 .u-carousel-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 0;
}

.u-section-4 .u-shape-5 {
  width: 575px;
  --radius: 10px;
  height: 242px;
  margin: 77px 20px 0 auto;
}

.u-section-4 .u-image-6 {
  width: 437px;
  height: 385px;
  margin: -313px auto 0 -34px;
}

.u-section-4 .u-text-13 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -287px 41px 0 403px;
}

.u-section-4 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 35px 0 403px;
}

.u-section-4 .u-carousel-item-7 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-9 {
  padding: 0;
}

.u-section-4 .u-group-3 {
  width: 575px;
  --radius: 10px;
  height: auto;
  min-height: 241px;
  margin: 0 13px 0 auto;
}

.u-section-4 .u-container-layout-10 {
  padding: 26px 22px;
}

.u-section-4 .u-text-15 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 35px 0 17px;
}

.u-section-4 .u-text-16 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 0 17px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-image-7 {
  width: 437px;
  height: 385px;
  margin: -313px auto 0 -24px;
}

.u-section-4 .u-carousel-item-8 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-11 {
  padding: 0;
}

.u-section-4 .u-group-4 {
  width: 574px;
  --radius: 10px;
  height: auto;
  min-height: 268px;
  margin: 49px 14px 0 auto;
}

.u-section-4 .u-container-layout-12 {
  padding: 13px 22px 11px;
}

.u-section-4 .u-text-17 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 13px 121px 0 17px;
}

.u-section-4 .u-text-18 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 -17px 17px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-image-8 {
  width: 437px;
  height: 385px;
  margin: -311px auto 0 -6px;
}

.u-section-4 .u-carousel-item-9 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-13 {
  padding: 0;
}

.u-section-4 .u-group-5 {
  width: 575px;
  --radius: 10px;
  height: auto;
  min-height: 242px;
  margin: 77px 13px 0 auto;
}

.u-section-4 .u-container-layout-14 {
  padding: 13px 22px;
}

.u-section-4 .u-text-19 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 13px 121px 0 17px;
}

.u-section-4 .u-text-20 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 -17px 17px;
}

.u-section-4 .u-image-9 {
  width: 437px;
  height: 385px;
  margin: -313px auto 0 -6px;
}

.u-section-4 .u-carousel-item-10 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-15 {
  padding: 0;
}

.u-section-4 .u-group-6 {
  width: 575px;
  --radius: 10px;
  height: auto;
  min-height: 242px;
  margin: 77px 13px 0 auto;
}

.u-section-4 .u-container-layout-16 {
  padding: 13px 22px;
}

.u-section-4 .u-text-21 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 13px 121px 0 17px;
}

.u-section-4 .u-text-22 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 -17px 17px;
}

.u-section-4 .u-image-10 {
  width: 437px;
  height: 385px;
  margin: -313px auto 0 -6px;
}

.u-section-4 .u-carousel-item-11 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-17 {
  padding: 0;
}

.u-section-4 .u-group-7 {
  width: 575px;
  --radius: 10px;
  height: auto;
  min-height: 241px;
  margin: 77px 13px 0 auto;
}

.u-section-4 .u-container-layout-18 {
  padding: 13px 22px;
}

.u-section-4 .u-text-23 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 13px 41px 0 17px;
}

.u-section-4 .u-text-24 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 0 17px;
}

.u-section-4 .u-image-11 {
  width: 437px;
  height: 385px;
  margin: -313px auto 0 -6px;
}

.u-section-4 .u-carousel-item-12 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-19 {
  padding: 0;
}

.u-section-4 .u-group-8 {
  width: 575px;
  --radius: 10px;
  height: auto;
  min-height: 242px;
  margin: 77px 13px 0 auto;
}

.u-section-4 .u-container-layout-20 {
  padding: 13px 22px;
}

.u-section-4 .u-text-25 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 13px 121px 0 17px;
}

.u-section-4 .u-text-26 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 -17px 17px;
}

.u-section-4 .u-image-12 {
  width: 437px;
  height: 385px;
  margin: -313px auto 0 -6px;
}

.u-section-4 .u-carousel-item-13 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-21 {
  padding: 0;
}

.u-section-4 .u-group-9 {
  width: 575px;
  --radius: 10px;
  height: auto;
  min-height: 242px;
  margin: 77px 13px 0 auto;
}

.u-section-4 .u-container-layout-22 {
  padding: 13px 22px;
}

.u-section-4 .u-text-27 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 13px 121px 0 17px;
}

.u-section-4 .u-text-28 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 -17px 17px;
}

.u-section-4 .u-image-13 {
  width: 437px;
  height: 385px;
  margin: -313px auto 0 -6px;
}

.u-section-4 .u-carousel-item-14 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-23 {
  padding: 0;
}

.u-section-4 .u-group-10 {
  width: 575px;
  --radius: 10px;
  height: auto;
  min-height: 242px;
  margin: 77px 13px 0 auto;
}

.u-section-4 .u-container-layout-24 {
  padding: 13px 22px;
}

.u-section-4 .u-text-29 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 13px 121px 0 17px;
}

.u-section-4 .u-text-30 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 -17px 17px;
}

.u-section-4 .u-image-14 {
  width: 437px;
  height: 385px;
  margin: -313px auto 0 -6px;
}

.u-section-4 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: 396px;
  top: auto;
  position: absolute;
  right: auto;
  bottom: 10px;
}

.u-section-4 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  top: auto;
  right: 219px;
  bottom: 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1322px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 402px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 402px;
  }

  .u-section-4 .u-shape-1 {
    height: 429px;
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-slider-1 {
    min-height: 1050px;
    margin-top: -384px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-carousel-indicators-1 {
    top: 353px;
    left: 409px;
    right: auto;
  }

  .u-section-4 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -229px;
    margin-right: 36px;
    margin-left: 323px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 16px;
    margin-right: 36px;
    margin-left: 323px;
  }

  .u-section-4 .u-group-1 {
    min-height: 248px;
    margin-top: 0;
    height: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 13px;
    margin-right: 32px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: 93px;
    margin-left: 13px;
  }

  .u-section-4 .u-image-2 {
    background-position: 50% 50%;
    margin-top: -333px;
    margin-left: -37px;
  }

  .u-section-4 .u-group-2 {
    min-height: 237px;
    margin-top: 93px;
    height: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 13px;
    margin-right: -169px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-right: 38px;
    margin-bottom: 0;
    margin-left: 11px;
  }

  .u-section-4 .u-image-3 {
    background-position: 50% 50%;
    margin-top: -325px;
    margin-left: -85px;
  }

  .u-section-4 .u-image-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: -300px;
    margin-right: 98px;
    margin-left: 354px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 13px;
    margin-right: 41px;
    margin-left: 354px;
  }

  .u-section-4 .u-image-5 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: -300px;
    margin-right: 98px;
    margin-left: 354px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: 13px;
    margin-right: 41px;
    margin-left: 354px;
  }

  .u-section-4 .u-image-6 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-top: -300px;
    margin-right: 98px;
    margin-left: 354px;
  }

  .u-section-4 .u-text-14 {
    width: auto;
    margin-top: 13px;
    margin-right: 41px;
    margin-left: 354px;
  }

  .u-section-4 .u-carousel-item-7 {
    margin-bottom: 666px;
  }

  .u-section-4 .u-group-3 {
    margin-top: 93px;
    height: auto;
  }

  .u-section-4 .u-container-layout-10 {
    padding: 0;
  }

  .u-section-4 .u-text-15 {
    width: auto;
    margin-top: 13px;
    margin-right: -91px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-16 {
    width: auto;
    margin-top: 5px;
    margin-right: 155px;
    margin-left: 13px;
  }

  .u-section-4 .u-image-7 {
    background-position: 50% 50%;
    margin-top: -335px;
    margin-left: -12px;
  }

  .u-section-4 .u-group-4 {
    min-height: 248px;
    margin-top: 93px;
    height: auto;
  }

  .u-section-4 .u-container-layout-12 {
    padding: 0;
  }

  .u-section-4 .u-text-17 {
    width: auto;
    margin-right: 112px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-18 {
    width: auto;
    margin-right: 106px;
    margin-bottom: 0;
    margin-left: 13px;
  }

  .u-section-4 .u-image-8 {
    background-position: 50% 50%;
    margin-top: -330px;
    margin-left: -38px;
  }

  .u-section-4 .u-group-5 {
    min-height: 248px;
    margin-top: 93px;
    height: auto;
  }

  .u-section-4 .u-container-layout-14 {
    padding: 0;
  }

  .u-section-4 .u-text-19 {
    width: auto;
    margin-right: 112px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-20 {
    width: auto;
    margin-right: 106px;
    margin-bottom: 0;
    margin-left: 13px;
  }

  .u-section-4 .u-image-9 {
    background-position: 50% 50%;
    margin-top: -330px;
    margin-bottom: -3px;
    margin-left: -38px;
  }

  .u-section-4 .u-group-6 {
    min-height: 248px;
    margin-top: 93px;
    height: auto;
  }

  .u-section-4 .u-container-layout-16 {
    padding: 0;
  }

  .u-section-4 .u-text-21 {
    width: auto;
    margin-right: 112px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-22 {
    width: auto;
    margin-right: 106px;
    margin-bottom: 0;
    margin-left: 13px;
  }

  .u-section-4 .u-image-10 {
    background-position: 50% 50%;
    margin-top: -330px;
    margin-left: -38px;
  }

  .u-section-4 .u-group-7 {
    min-height: 248px;
    margin-top: 93px;
    height: auto;
  }

  .u-section-4 .u-container-layout-18 {
    padding: 0;
  }

  .u-section-4 .u-text-23 {
    width: auto;
    margin-right: 112px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-24 {
    width: auto;
    margin-right: 106px;
    margin-left: 13px;
  }

  .u-section-4 .u-image-11 {
    background-position: 50% 50%;
    margin-top: -330px;
    margin-left: -38px;
  }

  .u-section-4 .u-group-8 {
    min-height: 248px;
    margin-top: 93px;
    height: auto;
  }

  .u-section-4 .u-container-layout-20 {
    padding: 0;
  }

  .u-section-4 .u-text-25 {
    width: auto;
    margin-right: 112px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-26 {
    width: auto;
    margin-right: 106px;
    margin-bottom: 0;
    margin-left: 13px;
  }

  .u-section-4 .u-image-12 {
    background-position: 50% 50%;
    margin-top: -330px;
    margin-left: -38px;
  }

  .u-section-4 .u-group-9 {
    min-height: 248px;
    margin-top: 93px;
    height: auto;
  }

  .u-section-4 .u-container-layout-22 {
    padding: 0;
  }

  .u-section-4 .u-text-27 {
    width: auto;
    margin-right: 112px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-28 {
    width: auto;
    margin-right: 106px;
    margin-bottom: 0;
    margin-left: 13px;
  }

  .u-section-4 .u-image-13 {
    background-position: 50% 50%;
    margin-top: -330px;
    margin-left: -38px;
  }

  .u-section-4 .u-group-10 {
    min-height: 248px;
    margin-top: 93px;
    height: auto;
  }

  .u-section-4 .u-container-layout-24 {
    padding: 0;
  }

  .u-section-4 .u-text-29 {
    width: auto;
    margin-right: 112px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-30 {
    width: auto;
    margin-right: 106px;
    margin-bottom: 0;
    margin-left: 13px;
  }

  .u-section-4 .u-image-14 {
    background-position: 50% 50%;
    margin-top: -330px;
    margin-left: -38px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 361px;
    top: 337px;
  }

  .u-section-4 .u-carousel-control-2 {
    top: 337px;
    right: 253px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 182px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 182px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 384px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-carousel-indicators-1 {
    top: auto;
    left: auto;
    right: 83px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 9px;
    margin-left: -102px;
  }

  .u-section-4 .u-shape-2 {
    width: 422px;
    height: 256px;
    margin-top: -327px;
    margin-right: 44px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -244px;
    margin-right: -192px;
    margin-left: 278px;
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-4 {
    margin-top: 9px;
    margin-right: 65px;
    margin-left: 278px;
  }

  .u-section-4 .u-group-1 {
    width: 456px;
    min-height: 274px;
    margin-top: 23px;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 23px;
    margin-left: 14px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 116px;
    margin-left: 14px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -284px;
    margin-left: -99px;
  }

  .u-section-4 .u-group-2 {
    width: 469px;
    min-height: 272px;
    margin-top: 13px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    margin-left: 30px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -272px;
    margin-left: -105px;
  }

  .u-section-4 .u-shape-3 {
    width: 488px;
    height: 322px;
    margin-top: 0;
    margin-right: 13px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -322px;
    margin-left: -116px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -371px;
    margin-right: 17px;
    margin-left: 223px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 0;
    margin-right: 140px;
    margin-left: 223px;
  }

  .u-section-4 .u-shape-4 {
    width: 469px;
    height: 199px;
    margin-top: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -208px;
    margin-left: -92px;
  }

  .u-section-4 .u-text-11 {
    margin-top: -367px;
    margin-right: 117px;
    margin-left: 245px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 5px;
    margin-right: 117px;
    margin-left: 245px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 0;
    margin-left: 232px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 0;
    margin-left: 232px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-group-3 {
    margin-top: 157px;
  }

  .u-section-4 .u-text-15 {
    margin-right: 62px;
    margin-left: 265px;
  }

  .u-section-4 .u-text-16 {
    margin-right: 0;
    margin-bottom: -144px;
    margin-left: 177px;
  }

  .u-section-4 .u-image-7 {
    margin-top: -394px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-group-4 {
    margin-top: 157px;
  }

  .u-section-4 .u-text-17 {
    margin-right: 69px;
    margin-left: 258px;
  }

  .u-section-4 .u-text-18 {
    margin-right: 0;
    margin-left: 258px;
  }

  .u-section-4 .u-image-8 {
    margin-top: -394px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-group-5 {
    margin-top: 157px;
  }

  .u-section-4 .u-text-19 {
    margin-right: 69px;
    margin-left: 258px;
  }

  .u-section-4 .u-text-20 {
    margin-right: 0;
    margin-left: 258px;
  }

  .u-section-4 .u-image-9 {
    margin-top: -394px;
  }

  .u-section-4 .u-container-layout-15 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-group-6 {
    margin-top: 157px;
  }

  .u-section-4 .u-text-21 {
    margin-right: 69px;
    margin-left: 258px;
  }

  .u-section-4 .u-text-22 {
    margin-right: 0;
    margin-left: 258px;
  }

  .u-section-4 .u-image-10 {
    margin-top: -394px;
  }

  .u-section-4 .u-container-layout-17 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-group-7 {
    margin-top: 157px;
  }

  .u-section-4 .u-text-23 {
    margin-right: 69px;
    margin-left: 258px;
  }

  .u-section-4 .u-text-24 {
    margin-right: 0;
    margin-left: 258px;
  }

  .u-section-4 .u-image-11 {
    margin-top: -394px;
  }

  .u-section-4 .u-container-layout-19 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-group-8 {
    margin-top: 157px;
  }

  .u-section-4 .u-text-25 {
    margin-right: 69px;
    margin-left: 258px;
  }

  .u-section-4 .u-text-26 {
    margin-right: 0;
    margin-left: 258px;
  }

  .u-section-4 .u-image-12 {
    margin-top: -394px;
  }

  .u-section-4 .u-container-layout-21 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-group-9 {
    margin-top: 157px;
  }

  .u-section-4 .u-text-27 {
    margin-right: 69px;
    margin-left: 258px;
  }

  .u-section-4 .u-text-28 {
    margin-right: 0;
    margin-left: 258px;
  }

  .u-section-4 .u-image-13 {
    margin-top: -394px;
  }

  .u-section-4 .u-container-layout-23 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-group-10 {
    margin-top: 157px;
  }

  .u-section-4 .u-text-29 {
    margin-right: 69px;
    margin-left: 258px;
  }

  .u-section-4 .u-text-30 {
    margin-right: 0;
    margin-left: 258px;
  }

  .u-section-4 .u-image-14 {
    margin-top: -394px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: auto;
    top: auto;
    right: 320px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 2px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 2px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-shape-2 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 173px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -410px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-group-2 {
    width: 540px;
    margin-top: 173px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 147px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -410px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-shape-3 {
    width: 540px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
    margin-left: 52px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 123px;
    margin-left: 52px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-shape-4 {
    width: 540px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 27px;
    margin-left: 52px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 27px;
    margin-left: 52px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-shape-5 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-left: 52px;
  }

  .u-section-4 .u-text-14 {
    margin-left: 52px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-group-3 {
    width: 540px;
    margin-top: 173px;
    margin-right: 0;
  }

  .u-section-4 .u-text-15 {
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-4 .u-text-16 {
    margin-left: 0;
  }

  .u-section-4 .u-image-7 {
    margin-top: -410px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-group-4 {
    width: 540px;
    margin-top: 173px;
    margin-right: 0;
  }

  .u-section-4 .u-text-17 {
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-4 .u-text-18 {
    margin-left: 147px;
  }

  .u-section-4 .u-image-8 {
    margin-top: -410px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-group-5 {
    width: 540px;
    margin-top: 173px;
    margin-right: 0;
  }

  .u-section-4 .u-text-19 {
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-4 .u-text-20 {
    margin-left: 147px;
  }

  .u-section-4 .u-image-9 {
    margin-top: -410px;
  }

  .u-section-4 .u-container-layout-15 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-group-6 {
    width: 540px;
    margin-top: 173px;
    margin-right: 0;
  }

  .u-section-4 .u-text-21 {
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-4 .u-text-22 {
    margin-left: 147px;
  }

  .u-section-4 .u-image-10 {
    margin-top: -410px;
  }

  .u-section-4 .u-container-layout-17 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-group-7 {
    width: 540px;
    margin-top: 173px;
    margin-right: 0;
  }

  .u-section-4 .u-text-23 {
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-4 .u-text-24 {
    margin-left: 147px;
  }

  .u-section-4 .u-image-11 {
    margin-top: -410px;
  }

  .u-section-4 .u-container-layout-19 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-group-8 {
    width: 540px;
    margin-top: 173px;
    margin-right: 0;
  }

  .u-section-4 .u-text-25 {
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-4 .u-text-26 {
    margin-left: 147px;
  }

  .u-section-4 .u-image-12 {
    margin-top: -410px;
  }

  .u-section-4 .u-container-layout-21 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-group-9 {
    width: 540px;
    margin-top: 173px;
    margin-right: 0;
  }

  .u-section-4 .u-text-27 {
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-4 .u-text-28 {
    margin-left: 147px;
  }

  .u-section-4 .u-image-13 {
    margin-top: -410px;
  }

  .u-section-4 .u-container-layout-23 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-group-10 {
    width: 540px;
    margin-top: 173px;
    margin-right: 0;
  }

  .u-section-4 .u-text-29 {
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-4 .u-text-30 {
    margin-left: 147px;
  }

  .u-section-4 .u-image-14 {
    margin-top: -410px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2290px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-shape-1 {
    height: 746px;
    margin-top: 78px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-slider-1 {
    min-height: 1156px;
    margin-top: -719px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-carousel-indicators-1 {
    left: 53px;
    right: auto;
    bottom: 20px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 300px;
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-shape-2 {
    height: 332px;
    margin-top: -14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: -318px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-1 {
    margin-top: 307px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -4px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-4 .u-image-2 {
    height: 300px;
    margin-top: -574px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-2 {
    margin-top: 310px;
    min-height: 358px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-7 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -8px;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    height: 300px;
    margin-top: -658px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-shape-3 {
    margin-top: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-4 {
    height: 300px;
    margin-top: -622px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-9 {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-shape-4 {
    height: 235px;
    margin-top: 310px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-5 {
    height: 300px;
    margin-top: -535px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-11 {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 18px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-shape-5 {
    margin-top: 306px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-6 {
    width: 340px;
    height: 300px;
    margin-top: -542px;
    margin-left: 0;
  }

  .u-section-4 .u-text-13 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-14 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-3 {
    margin-top: 215px;
    min-height: 340px;
    width: 340px;
  }

  .u-section-4 .u-text-15 {
    margin-top: 10px;
    margin-left: 0;
  }

  .u-section-4 .u-text-16 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-7 {
    height: 300px;
    width: 340px;
    margin-top: -20px;
    margin-left: -20px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-4 {
    margin-top: 300px;
    min-height: 335px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-17 {
    margin-top: 5px;
    margin-left: 0;
  }

  .u-section-4 .u-text-18 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-image-8 {
    height: 300px;
    margin-top: -635px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-5 {
    margin-top: 300px;
    min-height: 337px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-14 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-4 .u-text-19 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-20 {
    margin-top: 10px;
    margin-left: 0;
  }

  .u-section-4 .u-image-9 {
    height: 300px;
    margin-top: -637px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-15 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-6 {
    margin-top: 300px;
    min-height: 326px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-16 {
    padding-top: 30px;
  }

  .u-section-4 .u-text-21 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-22 {
    margin-left: 0;
  }

  .u-section-4 .u-image-10 {
    height: 300px;
    margin-top: -626px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-17 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-7 {
    margin-top: 302px;
    min-height: 335px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-18 {
    padding-top: 30px;
  }

  .u-section-4 .u-text-23 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-24 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-4 .u-image-11 {
    height: 300px;
    margin-top: -637px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-19 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-8 {
    margin-top: 298px;
    min-height: 337px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-25 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-26 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-image-12 {
    height: 300px;
    margin-top: -635px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-21 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-9 {
    margin-top: 299px;
    min-height: 313px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-27 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-28 {
    margin-left: 0;
  }

  .u-section-4 .u-image-13 {
    height: 300px;
    margin-top: -612px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-carousel-item-14 {
    margin-bottom: 825px;
  }

  .u-section-4 .u-container-layout-23 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-10 {
    margin-top: 331px;
    min-height: 306px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-29 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-30 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-4 .u-image-14 {
    height: 300px;
    margin-top: -606px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 0;
    right: auto;
    bottom: 5px;
  }

  .u-section-4 .u-carousel-control-2 {
    top: auto;
    right: 5px;
    bottom: 5px;
  }
}