/* Add this to your CSS */
.header {
    text-align: center;
    background-color: #333;
    padding: 10px;
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    width: 5px; /* Adjust the size as needed */
    height: 5px; /* Adjust the size as needed */
    margin-right: 10px; /* Add space between the logo and text */
    border-radius: 15%; /* Create a circular border for the logo */
    overflow: hidden; /* Ensure the image is contained within the border */
}

h1 {
    margin: 0; /* Remove any default margins on the h1 element */
    color: #fff;
}
